* {
  box-sizing: border-box;
}

html, body {
  font-size: 14px;
  line-height: 1.4;
}

header{
  text-align: center;
  font-family: 'Playfair Display', serif;
}
header h1{
  font-family: 'Mr De Haviland', cursive;
  font-size: 50px;
}
header h3{
  margin-top: -12px;
  font-size: 14px;
}
header p{
margin-top: -10px;
}

header nav {
  /* margin-top: -120px; */
  padding: 7px 15px;
  background-color: rgba(216, 171, 150, 0.5);
}
header nav a {
  color: white;
  text-decoration: none;
  margin-left: 12px;
  font-size: 10px;
}
header nav a .active{
  background: #bc5c46;
  border-radius: 3px;
}

header .header-info {
  padding: 10px 20px;
}

            /* home contenido dentro de la imagen*/
#home hr{
  margin-left: 1px;
  border-color: gray;
  width: 35%;
}
.mariposas{
  font-family: 'Playfair Display', serif;
 background:url('../imagenes/mariposa.jpg')no-repeat center top;
background-size: cover;
  padding: 40px 20px;
}

#home .container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#home{
  padding:100px 0 150px;
}
#home p{

  font-family: 'Darker Grotesque', sans-serif;
}
#home .fondo{
  background:rgba(255, 255, 255, 0.8);
}

           /* sobre mí*/
#sobremi h2 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-bottom: 40px;
}
#sobremi .text {
  margin-left: 50px;
  margin-right: 50px;
}
#sobremi h5{
  font-family: 'Playfair Display', serif;
}

#sobremi p {
  font-family: 'Darker Grotesque', sans-serif;
}

#sobremi .sobremi-img {
  text-align: center;
}

#sobremi img {
  max-width: 250px;
  margin: 0 auto;
}


            /* logros contenido dentro de la imagen*/

#logros hr{
  margin-right: 1px;
  border-color: gray;
  width: 35%;

}

.guacamaya{
  font-family: 'Playfair Display', serif;
  background:url('../imagenes/guacamaya.jpg')no-repeat center top;
  background-size: cover;
  padding: 40px 20px;
  text-align: right;
}

#logros .container2{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#logros{
    padding:100px 0 150px;
}


  #logros p{
    font-family: 'Darker Grotesque', sans-serif;

  }
  #logros .fondo2{
  background:rgba(255, 255, 255, 0.8);
  }

                    /* logros parte blanca de abajo*/
  #logros2 .carton {
    text-align: center;
  }
  #logros2 img{
    max-width: 300px;
    margin: 0 auto;
  }

#logros2 p{
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Darker Grotesque', sans-serif;

  }
  #logros2 .diploma{
    text-align: center;
  }

       /* trabajos contenido dentro de la imagen */
#trabajos hr{
  margin-left: 1px;
  border-color: gray;
  width: 35%;
}

.ballenas{
  font-family: 'Playfair Display', serif;
  background:url('../imagenes/ballenas.jpg')no-repeat center top;
  background-size: cover;
  padding: 40px 20px;

}

#trabajos .container3{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#trabajos{
  padding:100px 0 150px;
}

#trabajos p{
  font-family: 'Darker Grotesque', sans-serif;

}
#trabajos .fondo3{
background:rgba(255, 255, 255, 0.8);
}

            /* estilos de la explicacion de los trabajos*/
/* Mario Hernandez*/

#trabajomh h3{
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-bottom: 20px;
}
#trabajomh p{
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Darker Grotesque', sans-serif;
}



/*Go Talent*/
#trabajogt h3{
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-bottom: 20px;
}

#trabajogt p{
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Darker Grotesque', sans-serif;
}

           /* proyectos LO QUE VA DENTRO DE LA IMAGEN DE DELFINES*/
#proyectos hr{
  margin-right:  1px;
  border-color: gray;
  width: 35%;
  }

.delfines{
  font-family: 'Playfair Display', serif;
  background:url('../imagenes/delfines.jpg')no-repeat center top;
  background-size: cover;
  padding: 40px 20px;
  text-align: right;
  margin-top: 10px;
}

#proyectos .container4{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#proyectos{
  padding:100px 0 150px;
}


#proyectos p{
  font-family: 'Darker Grotesque', sans-serif;
}
#proyectos .fondo4{
background:rgba(255, 255, 255, 0.8);
}

/*PROYECTOS EMPLICACIÓN */
/*tesis*/
.tesis h3{
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-bottom: 20px;
}

.tesis p{
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Darker Grotesque', sans-serif;
}
#video {
  background-color: rgba(216, 171, 150, 0.5);
  text-align: center;
}
.piera1{
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: white;
  background:url('../imagenes/piera.png.jpg')no-repeat center top;
  background-size: cover;
  padding: 40px 0;
}
.piera1 p{
  margin-top: 40px;
}
.piera2{
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: white;
  background:url('../imagenes/piera2.jpg')no-repeat center top;
  background-size: cover;
  padding: 40px 0;
}
.piera2 p{
  margin-top: 40px;
}
/*Premio mario hernandez*/
.premiomh h3{
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-bottom: 20px;
}

.premiomh p{
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Darker Grotesque', sans-serif;
}
.animales{
  font-family: 'Playfair Display', serif;
  text-align: center;
  color: white;
  background:url('../imagenes/animales.jpg')no-repeat center top;
  background-size: cover;
  padding: 40px 0;
}
.animales p{
  font-family: 'Darker Grotesque', sans-serif;
}

.caja{
  font-family: 'Playfair Display', serif;
  background:url('../imagenes/cajamh.jpg')no-repeat center top;
  background-size: cover;
  text-align: center;
  margin-bottom: 50px;
}
.caja p{
  margin-top: 120px;
}
.lista-animales{
  margin-right: 50px;
  font-family: 'Darker Grotesque', sans-serif;
}

      /* contacto*/
.flamingos{
  font-family: 'Playfair Display', serif;
  padding: 40px 20px;
  background:url('../imagenes/flamingos.jpg')no-repeat center top;
  background-size: cover;
text-align: center;
}

#contacto h3{
  font-family: 'Mr De Haviland', cursive;

}
#contacto h5{
  font-family: 'Darker Grotesque', sans-serif;
  margin-bottom: 50px;

}

#contacto p{
  background:rgba(255, 255, 255, 0.8);
  font-family: 'Darker Grotesque', sans-serif;
  margin-bottom: 50px;

}


            /* ajuste de tamaños*/
/*576 tamaño del celular*/

@media (min-width: 576px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 576px) {
  p {
    font-size: 23px;
  }

.container {
  width: 768px;
  margin-left: auto;
  margin-right: auto;
}
}



/*768 tamaño ipad*/

/* menú*/
@media (min-width: 768px){
  header nav a {
    font-size: 18px;
  }
}

/*header*/


@media (min-width: 768px){
  header h1 {
    font-size: 72px;
  }
}
@media (min-width: 768px){
  header h3 {
    font-size: 20px;
  }
}

/* sobre mi*/
@media (min-width: 768px) {
  #sobremi h5{
    font-size: 24px;
  }

@media (min-width: 768px) {
  #sobremi img {
    float: left;
    padding: 15px 40px 30px 15px;
  }
}


/*trabajos mh*/
@media (min-width: 768px) {
  #trabajomh h3{
    font-size: 30px;
  }

  @media (min-width: 768px) {
    #trabajomh .foto-empaque {
      padding: 0 80px 0 80px;
    }
}
@media (min-width: 768px) {
  #trabajomh .mhotros{
    font-size: 23px;
    font-family: 'Darker Grotesque', sans-serif;

  }
  /*trabajos gt*/
  @media (min-width: 768px) {
    #trabajogt h3{
      font-size: 30px;
    }

    @media (min-width: 768px) {
      #trabajogt .foto-publicidad {
        padding: 0 80px 0 80px;
      }
  }

/*proyectos*/
@media (min-width: 768px) {
  .tesis h3{
    font-size: 30px;
  }

@media (min-width: 768px) {
    .piera1 p{
      margin-top: 190px;
    }
@media (min-width: 768px) {
      .piera2 p{
        margin-top: 190px;
      }
}

/* Premio mh*/
@media (min-width: 768px) {
  .premiomh h3{
    font-size: 30px;
  }
  @media (min-width: 768px) {
        .animales p{
          margin-top: 190px;
        }
  }
  @media (min-width: 768px) {
   .foto-animales {
      padding: 0 80px 0 80px;
    }
}

@media (min-width: 768px) {
      .lista-animales{
        font-size: 23px;
      }
}
@media (min-width: 768px) {
  .caja h5{
    font-size: 30px;
  }
@media (min-width: 768px) {
      .caja p{
        margin-top: 250px;
      }
}

/*contacto*/
@media (min-width: 768px) {
  .flamingos h1{
    font-size: 30px;
  }

  @media (min-width: 768px) {
    .flamingos h3{
      font-size: 50px;
    }

    /*1280 computador1*/
    @media (min-width: 1280px){
      header nav a {
        font-size: 16px;
      }
    }

    /*header*/
    @media (min-width: 1280px) {
      p {
        font-size: 18px;
      }

    @media (min-width: 1280px){
      header h1 {
        font-size: 72px;
      }
    }
    @media (min-width: 1280px){
      header h3 {
        font-size: 20px;
      }
    }

    /*home*/
    @media (min-width: 1280px){
      #home {
        padding-left: 130px;
        padding-right: 130px;
      }
    }

    /* sobre mí*/
    @media (min-width: 1280px){
      #sobremi {
        padding-left: 130px;
        padding-right: 130px;
      }
    }
/*logos*/

@media (min-width: 1280px){
  #logros{
    padding-left: 130px;
    padding-right: 130px;
  }
}
@media (min-width: 1280px){
  #logros2{
    padding-left: 130px;
    padding-right: 130px;
  }
}

@media (min-width: 1280px){
  #trabajos {
    padding-left: 130px;
    padding-right: 130px;
  }
}
@media (min-width: 1280px){
  #trabajomh {
    padding-left: 130px;
    padding-right: 130px;
  }
}
@media (min-width: 1280px) {
  #trabajomh .foto-empaque{
    padding: 0 300px 0 300px;
  }
}

/*GoTalent*/
@media (min-width: 1280px){
  #trabajogt {
    padding-left: 130px;
    padding-right: 130px;
  }
}
@media (min-width: 1280px) {
  #trabajomh .mhotros{
    font-size: 20px;
    font-family: 'Darker Grotesque', sans-serif;

  }
  @media (min-width: 1280px) {
    #trabajogt .foto-publicidad{
      padding: 0 300px 0 300px;
    }
  }

/*proyectos*/
@media (min-width: 1280px){
  #proyectos{
    padding-left: 130px;
    padding-right: 130px;
  }
}

@media (min-width: 1280px){
  .tesis {
    padding-left: 130px;
    padding-right: 130px;
  }
}
@media (min-width: 1280px) {
    .piera1 p{
      margin-top: 320px;
    }
}
@media (min-width: 1280px) {
      .piera2 p{
        margin-top: 320px;
      }
}
 }

 @media (min-width: 1280px){
   .premiomh {
     padding-left: 130px;
     padding-right: 130px;
   }
 }
 @media (min-width: 1280px) {
       .caja p{
         margin-top: 450px;
       }
 }

 @media (min-width: 1280px){
  .flamingos{
     padding-left: 130px;
     padding-right: 130px;
   }
 }
/*1605 computador*/
/*home*/

@media (min-width: 1605px) {
  p {
    font-size: 21px;
  }
@media (min-width: 1605px){
  #home {
    padding-left: 1px;

  }
}
/*sobre mí*/
@media (min-width: 1605px){
  #sobremi {
    padding-left: 190px;
    padding-right: 190px;
  }
}
/*logros*/
@media (min-width: 1605px){
  #logros{
    padding-left: 190px;
    padding-right: 190px;
  }
}
@media (min-width: 1605px){
  #logros2{
    padding-left: 190px;
    padding-right: 190px;
  }
}

/*trabajo*/
@media (min-width: 1605px){
  #trabajos{
    padding-left: 190px;
    padding-right: 190px;
  }
}
@media (min-width: 1605px){
  #trabajomh{
    padding-left: 190px;
    padding-right: 190px;
  }
}
@media (min-width: 1605px) {
  #trabajomh .foto-empaque{
    padding: 0 400px 0 400px;
  }
}

@media (min-width: 1605px) {
  #trabajomh .mhotros{
    font-size: 20px;
    font-family: 'Darker Grotesque', sans-serif;

  }
  @media (min-width: 1605px) {
    #trabajogt .foto-publicidad{
      padding: 0 450px 0 450px;
    }
  }

   /*proyectos*/

   @media (min-width: 1605px){
     #proyectos{
       padding-left: 190px;
       padding-right: 190px;
     }
   }
   @media (min-width: 1605px){
     .tesis{
       padding-left: 190px;
       padding-right: 190px;
     }
   }
   @media (min-width: 1605px) {
       .piera1 p{
         margin-top: 420px;
       }
   }
   @media (min-width: 1605px) {
         .piera2 p{
           margin-top: 420px;
         }
   }
    }

/*premiomh*/
@media (min-width: 1605px){
  .premiomh{
    padding-left: 190px;
    padding-right: 190px;
  }
}
@media (min-width: 1280px) {
      .caja p{
        margin-top: 550px;
      }
}
@media (min-width: 1605px){
  .caja {
    padding-left: 190px;
    padding-right: 190px;
  }
}

@media (min-width: 1605px){
  .flamingos{
    padding-left: 190px;
    padding-right: 190px;
  }
}
