* {
  box-sizing: border-box;
}

html, body {
  font-size: 14px;
  line-height: 1.4;
}

header{
  text-align: center;
  font-family: 'Playfair Display', serif;
}
header h1{
  font-family: 'Mr De Haviland', cursive;
  font-size: 50px;
}
header h3{
  margin-top: -12px;
  font-size: 14px;
}
header p{
margin-top: -10px;
}

header nav {
  /* margin-top: -120px; */
  padding: 7px 15px;
  background-color: rgba(216, 171, 150, 0.5);
}
header nav a {
  color: white;
  text-decoration: none;
  margin-left: 12px;
  font-size: 10px;
}
header nav a .active{
  background: #bc5c46;
  border-radius: 3px;
}

header .header-info {
  padding: 10px 20px;
}

            /* home contenido dentro de la imagen*/
#home hr{
  margin-left: 1px;
  border-color: gray;
  width: 35%;
}
.mariposas{
  font-family: 'Playfair Display', serif;
 background:url('../imagenes/mariposa.jpg')no-repeat center top;
background-size: cover;
  padding: 40px 20px;
}

#home .container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#home{
  padding:100px 0 150px;
}
#home p{

  font-family: 'Darker Grotesque', sans-serif;
}
#home .fondo{
  background:rgba(255, 255, 255, 0.5);
}

           /* sobre mí*/
#sobremi h2 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-bottom: 40px;
}
#sobremi .text {
  margin-left: 50px;
  margin-right: 50px;
}
#sobremi h5{
  font-family: 'Playfair Display', serif;
}

#sobremi p {
  font-family: 'Darker Grotesque', sans-serif;
}

#sobremi .sobremi-img {
  text-align: center;
}

#sobremi img {
  max-width: 250px;
  margin: 0 auto;
}


            /* logros contenido dentro de la imagen*/

#logros hr{
  margin-right: 1px;
  border-color: gray;
  width: 35%;

}

.guacamaya{
  font-family: 'Playfair Display', serif;
  background:url('../imagenes/guacamaya.jpg')no-repeat center top;
  background-size: cover;
  padding: 40px 20px;
  text-align: right;
}

#logros .container2{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#logros{
    padding:100px 0 150px;
}


  #logros p{
    font-family: 'Darker Grotesque', sans-serif;

  }
  #logros .fondo2{
  background:rgba(255, 255, 255, 0.5);
  }

                    /* logros parte blanca de abajo*/
  #logros2 .carton {
    text-align: center;
  }
#logros2 img{
  max-width: 250px;
  margin: 0 auto;
}

#logros2 p{
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Darker Grotesque', sans-serif;

  }
  #logros2 .diploma{
    text-align: center;
  }

       /* trabajos contenido dentro de la imagen */
#trabajos hr{
  margin-left: 1px;
  border-color: gray;
  width: 35%;
}

.ballenas{
  font-family: 'Playfair Display', serif;
  background:url('../imagenes/ballenas.jpg')no-repeat center top;
  background-size: cover;
  padding: 40px 20px;

}

#trabajos .container3{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#trabajos{
  padding:100px 0 150px;
}

#trabajos p{
  font-family: 'Darker Grotesque', sans-serif;

}
#trabajos .fondo3{
background:rgba(255, 255, 255, 0.5);
}

            /* estilos de la explicacion de los trabajos*/
/* Mario Hernandez*/

#trabajomh h3{
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-bottom: 20px;
}
#trabajomh p{
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Darker Grotesque', sans-serif;
}



/*Go Talent*/
#trabajogt h3{
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-bottom: 20px;
}

#trabajogt p{
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Darker Grotesque', sans-serif;
}

           /* proyectos LO QUE VA DENTRO DE LA IMAGEN DE DELFINES*/
#proyectos hr{
  margin-right:  1px;
  border-color: gray;
  width: 35%;
  }

.delfines{
  font-family: 'Playfair Display', serif;
  background:url('../imagenes/delfines.jpg')no-repeat center top;
  background-size: cover;
  padding: 40px 20px;
  text-align: right;
  margin-top: 10px;
}

#proyectos .container4{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#proyectos{
  padding:100px 0 150px;
}


#proyectos p{
  font-family: 'Darker Grotesque', sans-serif;
}
#proyectos .fondo4{
background:rgba(255, 255, 255, 0.5);
}

/*PROYECTOS EMPLICACIÓN */
/*tesis*/
.tesis h3{
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-bottom: 20px;
}

.tesis p{
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Darker Grotesque', sans-serif;
}
#video {
  background-color: rgba(216, 171, 150, 0.5);
  text-align: center;
}

/*Premio mario hernandez*/
.premiomh h3{
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-bottom: 20px;
}

.premiomh p{
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Darker Grotesque', sans-serif;
}

      /* contacto*/
.flamingos{
  background:url('../imagenes/flamingos.jpg')no-repeat center top;
  background-size: cover;
  padding: 40px 0;
}

#contacto h1{
  font-family: 'Playfair Display', serif;
  text-align: center;
  margin-top: 20px;
}
#contacto h3{
  font-family: 'Playfair Display', serif;
  text-align: center;

}
#contacto h5{
  font-family: helvetica;
  text-align: center;
}

#contacto p{
  font-family: helvetica;
  margin-bottom: 400px;
}


            /* ajuste de tamaños*/

@media (min-width: 576px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  #sobremi img {
    float: left;
    padding: 15px 40px 30px 15px;
  }

  .container {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
}
